{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}About the site{{/_}}{{/ title }}

{{$ content}}



<ul>
	<li><b>{{#_}}Icons{{/_}} </b>
		<a href="http://www.flaticon.com/authors/freepik">Freepik</a>,
		<a href="http://www.flaticon.com/authors/yannick">Yannick</a>,
		<a href="http://www.flaticon.com/authors/zurb">Zurb</a>,
		<a href="http://www.flaticon.com/authors/catalin-fertu">Catalin Fertu</a>,
		via <a href="http://www.flaticon.com">Flaticon</a> (<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>)
	<li><b>{{#_}}Web developer{{/_}} </b> <a href="http://www.geekality.net">Torleif Berger</a>
	<li><b>{{#_}}Source code{{/_}} </b> <a href="https://github.com/Svish/triangelos">GitHub</a>
</ul>

<hr>

<h2>#rgb</h2>

<p class="accent accent1">
<p class="accent accent2">
<p class="accent accent3">



{{/ content}}

{{/ layout }}