{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}About the site{{/_}}{{/ title }}

{{$ content}}

<dl>
	<dt>{{#_}}Web developer{{/_}}
		<dd><a href="http://www.geekality.net">Torleif Berger</a>

	<dt>{{#_}}Source code{{/_}}
		<dd><a href="https://github.com/Svish/triangelos">GitHub</a>

	<dt>{{#_}}Icons{{/_}}
		<dd><a href="http://www.flaticon.com/authors/freepik">Freepik</a>
		<dd><a href="http://www.flaticon.com/authors/yannick">Yannick</a>
		<dd><a href="http://www.flaticon.com/authors/zurb">Zurb</a>
		<dd><a href="http://www.flaticon.com/authors/catalin-fertu">Catalin Fertu</a>
		<dd>via <a href="http://www.flaticon.com">Flaticon</a> <a class="badge" href="http://creativecommons.org/licenses/by/3.0" title="Creative Commons: Attribution 3.0" data-name="CC">BY 3.0</a>
	
	<dt>{{#_}}Graphics used for design{{/_}}
		<dd><a href="https://commons.wikimedia.org/wiki/File:Steinway_Grand_Piano_Iron_Plates_and_Strings.jpg">David Maiolo</a> <a class="badge" href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons: Attribution-ShareAlike 3.0" data-name="CC">BY-SA 3.0</a>

	<dt>{{#_}}Web analytics{{/_}}
		<dd><a href="https://clicky.com/100911258">Clicky</a>

	<dt>{{#_}}Cookies{{/_}}
		<dd>{{#_}}message/cookies{{/_}}
</dl>


<hr>

<h2>#rgb</h2>

<p class="accent accent1">
<p class="accent accent2">
<p class="accent accent3">



{{/ content}}

{{/ layout }}