{{% BLOCKS }}
{{< layout }}
{{$ title }}{{album.title}} - {{#_}}title/Music{{/_}}{{/ title }}
{{$ content}}



{{#album}}

	<h1>{{title}}
		<span>{{year}}</span>
		{{>webshop-cart-button}}
	</h1>

	
	{{{html}}}
	<p>
		{{>webshop-buttons}}
	</p>

	<h2>{{#_}}title/Songs{{/_}}</h2>
	<ol class="tracks">
		{{#tracks}}
		<li>
			<span class="time">{{time}}</span>
			<a class="title" href="{{url}}" type="{{mime}}">{{title}}</a>
			<div class="description">{{{html}}}</div>
		</li>
		{{/tracks}}
	</ol>

	<h2>{{#_}}title/Cover{{/_}}</h2>
	<p class="covers">
		<img class="frame" alt="{{#_}}Album cover{{/_}}" src="t/400x500/{{images.cover}}">
		<img class="frame" alt="{{#_}}Album inlay{{/_}}" src="t/400x500/{{images.inlay}}">
	</p>
{{/album}}


{{>jplayer}}


{{/ content}}
{{/ layout }}
