{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}Calendar{{/_}}{{/ title }}

{{$ content}}



{{#calendar.listing}}

	<table class="calendar" width="100%">
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<col>
		<thead>
			<tr>
				<th colspan="7">{{name|_}}
			</tr>
			<tr>
				<th>{{#_}}Sunday{{/_}}
				<th>{{#_}}Monday{{/_}}
				<th>{{#_}}Tuesday{{/_}}
				<th>{{#_}}Wednesday{{/_}}
				<th>{{#_}}Thursday{{/_}}
				<th>{{#_}}Friday{{/_}}
				<th>{{#_}}Saturday{{/_}}
			</tr>
		</thead>
		<tbody>
		{{#weeks}}
		<tr data-week="{{week}}" class="{{#isCurrent}}current{{/isCurrent}}">
			{{#days}}
			{{^day}}
			<td></td>
			{{/day}}
			{{#day}}
			<td data-day="{{day}}" data-date="{{iso}}" data-name="{{name|_}}" class="{{#isCurrent}}current{{/isCurrent}}">{{#events}}

				<div class="event {{status}} {{transp}} {{continued}}" data-uid="{{uid}}">
					{{#start_time}}<time datetime="{{start_w3c}}">{{start_time}}</time>{{/start_time}}
					{{#end_time}}<time datetime="{{end_w3c}}"> – {{end_time}}</time>{{/end_time}}
					<div class="summary">{{summary|_}}</div>
					<div class="details">
						<article>
							<h1>{{summary|_}}</h1>
							<div class="time">
								<time datetime="{{start_w3c}}">{{start_date|_}}{{start_time}}</time>
								{{#end_w3c}}
								<time datetime="{{end_w3c}}"> – {{end_date|_}}{{end_time}}</time>
								{{/end_w3c}}
							</div>
							{{{description}}}

							{{#location}}
								<address>{{{location}}}</address>
							{{/location}}
							<!--<pre>{{{dump}}}</pre>-->
						</article>
					</div>
				</div>

				{{/events}}</td>
			{{/day}}
			{{/days}}
		</tr>
		{{/weeks}}
	</table>

{{/calendar.listing}}



<script>
$(function()
{
	var today = new Date().toISOString().split('T')[0];
	$('[data-date="'+today+'"]', '.calendar')
		.addClass('current')
		.closest('tr')
		.addClass('current');

	$('.event')
		.click(__onOpenEvent);

});

function __onOpenEvent()
{
	var e = $(this);
	if(e.hasClass('continued'))
		e = $('.event[data-uid="'+e.data('uid')+'"]:first', '.calendar');
	

	e.find('.details, .details>*').slideToggle();
}
</script>



{{/ content}}

{{/ layout }}