{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}Choir{{/_}}{{/ title }}

{{$ content}}

{{{markdown}}}

<img src="t/700x700/choir.jpg" alt="{{#_}}Picture of the choir{{/_}}">

{{/ content}}

{{/ layout }}