{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}Contact{{/_}}{{/ title }}

{{$ content}}

TODO: Contact form, etc..

{{{markdown}}}

<dl>
	<dt>Mail
	<dd>Triangelos<br>
	Postboks 102<br>
	1429 Vinterbro

	<dt>Bank
	<dd>
	1720 26 24200<br>
	IBAN: NO71 1720 2624 200<br>
	SWIFT/BIC: BIENNOK1<br>
</dl>
{{/ content}}

{{/ layout }}