{{% BLOCKS }}
{{< layout }}
{{$ title }}Dashboard{{/ title }}

{{$ content}}



<div class="menu">
	<a class="frame" href="dashboard/members">
		{{#svg}}people{{/svg}}<br>
		{{#_}}Members{{/_}}
	</a>
	<a class="frame" href="dashboard/practice">
		{{#svg}}score{{/svg}}<br>
		{{#_}}Practice{{/_}}
	</a>
</div>



{{/ content}}
{{/ layout }}
