{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}E-Mail{{/_}}{{/ title }}

{{$ content}}

{{#_get.sent}}
	<p class="info">{{#_}}message/email-sent{{/_}}
{{/_get.sent}}

<form action="contact/email" method="post">
	
	<p><input {{#errors.from}}class="error"{{/errors.from}} type="email" name="from" placeholder="{{#_}}Your email{{/_}}" value="{{_post.from}}">
	<ul class="errors">{{#errors.from}}<li>{{.}}</li>{{/errors.from}}</ul>
	
	<p><input {{#errors.subject}}class="error"{{/errors.subject}} type="text" name="subject" placeholder="{{#_}}Your subject{{/_}}" value="{{_post.subject}}">
	<ul class="errors">{{#errors.subject}}<li>{{.}}</li>{{/errors.subject}}</ul>
	
	<p><textarea {{#errors.message}}class="error"{{/errors.message}} name="message" placeholder="{{#_}}Your message{{/_}}">{{_post.message}}</textarea>
	<ul class="errors">{{#errors.message}}<li>{{.}}</li>{{/errors.message}}</ul>
	
	<p><button class="icon" type="submit">{{#svg}}email{{/svg}}</button>
</form>

{{/ content}}

{{/ layout }}