{{% BLOCKS }}
{{< layout }}
{{$ TITLE }}{{status}} {{title}}{{/ TITLE }}
{{$ title }}{{/ title }}

{{$ content}}



	{{^isProd}}
	<table>
		{{{debug}}}
	</table>
	{{/isProd}}



{{/ content}}
{{/ layout }}
