<footer id="footer" class="no-select">
	<nav>
		
		<span>Copyright © <a href="{{url}}">Triangelos</a></span>
		<span>| <a href="about">{{#_}}title/About the site{{/_}}</a></span>
		
		{{^user}}
		<span>| <a href="member-area/login">{{#_}}title/Login{{/_}}</a></span>
		{{/user}}

		{{#user}}
		<span>| <a href="member-area/logout">{{#_}}title/Logout{{/_}}</a></span>
		<span>| <a href="member-area/me">{{email}}</a></span>
		{{/user}}

	</nav>
</footer>

{{#clicky}}
{{#site_id}}
<script type="text/javascript">
	var clicky_site_ids = [{{site_id}}];
	(function() {
		var s = document.createElement('script');
		s.type = 'text/javascript';
		s.async = true;
		s.src = '//static.getclicky.com/js';
		( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
	})();
</script>
{{/site_id}}
{{/clicky}}
