<header id="header" class="no-select">
	
	<h1>
		<a href="index">Triangelos</a>
		<a href="javascript:void(0)" id="menu-toggle">{{#svg}}menu{{/svg}}</a>
	</h1>
	
	<ul id="main-menu">
		<li><a href="index">{{#svg}}home{{/svg}}<span>{{#_}}Home{{/_}}</span></a>
		<li><a href="music">{{#svg}}cart{{/svg}} {{#_}}Music{{/_}}</a>
		<li><a href="video">{{#svg}}youtube-symbol{{/svg}} {{#_}}Video{{/_}}</a>
		<li><a href="calendar">{{#_}}Calendar{{/_}}</a>
		<li><a href="choir">{{#_}}Choir{{/_}}</a>
		<li><a href="members">{{#_}}Members{{/_}}</a>
		<li><a href="contact">{{#_}}Contact{{/_}}</a>
	</ul>
	<ul id="language-menu">
		{{#_.languages}}
		<li><a class="language" href="{{href}}/{{this}}" rel="alternate" hreflang="{{lang}}" lang="{{lang}}" title="{{name}}" data-host="{{host}}"><img src="_/flag/{{flag}}.png"></a>
		{{/_.languages}}
	</ul>
	<div id="bg-1"></div>

</header>
