<header id="header" class="no-select">
	
	<h1>
		<a href="index">Triangelos</a>
		<a href="javascript:void(0)" id="menu-toggle">{{#svg}}menu{{/svg}}</a>
	</h1>
	
	{{>menu}}

	<div id="bg-1"></div>

</header>
