<header id="header">
	
	<h1>
		<a href="javascript:void(0)" id="menu-toggle">{{#svg}}menu{{/svg}}</a>Triangelos
	</h1>
	
	<nav>
		<ul id="main-menu">
			<li><a href="index">{{#svg}}home{{/svg}}</a>
			<li><a href="choir">{{#_}}Choir{{/_}}</a>
			<li><a href="members">{{#_}}Members{{/_}}</a>
			<li><a href="calendar">{{#_}}Calendar{{/_}}</a>
			<li><a href="music">{{#svg}}cart{{/svg}} {{#_}}Music{{/_}}</a>
			<li><a href="contact">{{#_}}Contact{{/_}}</a>
		</ul>
		<ul id="language-selector">
			<li><a href="login" title="{{#_}}Login{{/_}}">{{#svg}}login:flag{{/svg}}</a></span>
			{{#_.languages}}
			<li><a class="language" href="{{href}}/{{this}}" rel="alternate" hreflang="{{lang}}" lang="{{lang}}" title="{{name}}" data-host="{{host}}"><img src="_/flag/{{flag}}.png"></a>
			{{/_.languages}}
		</ul>
	</nav>

</header>
