{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}Welcome{{/_}}!{{/ title }}

{{$ content}}



<div class="responsive albums">
	<h2><a href="music">{{#_}}Get our latest albums!{{/_}} {{#svg}}jumping-man{{/svg}}</a></h2>
	{{#music.latest}}
	<p>
		<a href="music/{{url}}">
			<img width="75" class="cover frame" alt="{{#_}}Album cover{{/_}}" src="t/75x100/{{cover}}">
			<span class="text">
				<span class="title">{{album}}</span>
				<br>
				<span class="year">{{year}}</span>
			</span>
		</a>
	</p>
	{{/music.latest}}
</div>


<div class="responsive events">
	<h2><a href="calendar">{{#_}}Come see us live!{{/_}} {{#svg}}people{{/svg}}</a></h2>
	{{#calendar.up_next}}
	<p>
		<div class="summary">{{summary|_}}</div>
		<time datetime="{{start_w3c}}">{{start_date_short|_}}, {{start_time}}</time>
		{{#location}}
		<address>{{{location | firstLine}}}</address>
		{{/location}}
	</p>
	{{/calendar.up_next}}
</div>

{{/ content}}

{{/ layout }}
