{{% BLOCKS }}
{{< layout }}
{{$ title }}Welcome{{/ title }}

{{$ content}}

<p>Welcome to our website! Here you can listen to and buy <a href="music">our music</a>, check what we're up to in <a href="calendar">our calendar</a> and <a href="contact">contact us</a> if you have any questions.


<p><img src="_/choir.jpg" />


<h2>Who we are</h2>

<p>Triangelos is a Christian choir with base in <a href="http://adventkirken-betel.no">Betel</a>, a <a href="http://adventist.org">Seventh-Day Adventist</a> church located in <a href="https://en.wikipedia.org/wiki/Oslo">Oslo, Norway</a>.

<p>The name <b>Triangelos</b> refers to the <b>Three Angels' Messages</b> found in <b>Revelation 14:6-12</b>. On so many levels we find this to be a very important message to humanity in our time. We wish to give praise and thanks to our Savior and Creator, which should be clear from our choice of songs. They revolve around who God is and His great love, which gave us life, presented to us through His Word.

<p>Over the years we have have visited many churches and congregations, covering most of Norway and even our neighbours, Denmark and Sweden.

<p>Our beloved director is <b>Inger B. Berger</b>. She has been leading us since the first choir practice, <b>January 8th, 1992</b>. The members are mainly from the SDA churches in and around Oslo. The choir usually runs with around 20 <a href="members">members</a> which gives a good number in each vocal group while still keeping it small enough so everyone are important.

<p>We have released <a href="music">five CD albums</a> throughout the time. Being a Norwegian choir located in Norway we have for the most part focused on Norway and Scandinavia. That's why you will find our previous albums are in Norwegian. Our last album, The Seventh Day, July 2015, is in English with a special focus on prophecies and the Three Angels' Messages that we would like to proclaim to the world.

<p><img src="_/choir.jpg" />
{{/ content}}

{{/ layout }}