<div id="jp_player"></div>
<div id="jp_container" class="jp-audio">
	<div class="jp-gui">
		<div class="jp-progress">
			<div class="jp-seek-bar">
				<div class="jp-play-bar"></div>
			</div>
		</div>
	</div>
</div>
