{{% BLOCKS }}
<!DOCTYPE html>
<html lang="{{LANG}}">
	<head>
		<title>{{$title}}{{/title}} - Triangelos</title>

		<base href="{{#url}}/{{/url}}" />
		<link rel="canonical" href="{{#url}}/{{this}}{{/url}}">

		{{#_.languages}}
		<link rel="alternate" hreflang="{{lang}}" href="{{href}}/{{this}}">
		{{/_.languages}}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{#css}}
		<link rel="stylesheet" type="text/css" href="{{.}}">
		{{/css}}

		{{#js}}
		<script type="text/javascript" src="{{.}}"></script>
		{{/js}}
		<script>
			var Site = {Url: {Base: '{{url}}', Current: '{{this}}', Host: '{{HOST}}'}, Lang: '{{LANG}}'};
		</script>

	</head>
	<body class="{{this}}">
		{{> header}}

		<article id="content">
			<h1>{{$title}}{{/title}}</h1>
			{{$content}}{{/content}}
		</article>

		{{> footer}}
	</body>
</html>
