{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}Login{{/_}}{{/ title }}

{{$ content}}



<form action="login" method="post">
	
	<p><input {{#errors.email}}class="error"{{/errors.email}} type="email" name="email" placeholder="{{#_}}Your email{{/_}}" value="{{_post.email}}">
	<ul class="errors">{{#errors.email}}<li>{{.}}</li>{{/errors.email}}</ul>
	
	<p><input {{#errors.password}}class="error"{{/errors.password}} type="password" name="password" placeholder="{{#_}}Your password{{/_}}">
	<ul class="errors">{{#errors.password}}<li>{{.}}</li>{{/errors.password}}</ul>
	
	<p><button class="icon" type="submit">{{#svg}}login{{/svg}}</button>
</form>



{{/ content}}
{{/ layout }}
