{{% BLOCKS }}
{{< layout }}
{{$ title }}{{title | _}}{{/ title }}

{{$ content}}



<div class="menu no-select">
	<a class="frame" href="members-only/members">
		{{#svg}}people{{/svg}}<br>
		{{#_}}Members{{/_}}
	</a>
	<a class="frame" href="members-only/practice">
		{{#svg}}score{{/svg}}<br>
		{{#_}}Practice{{/_}}
	</a>
</div>



{{/ content}}
{{/ layout }}
