{{% BLOCKS }}
{{< layout }}
{{$ title }}{{title | _}}{{/ title }}

{{$ content}}



<div class="menu no-select">
	<a class="frame" href="member-area/me">
		{{#svg}}person{{/svg}}<br>
		{{#_}}title/Me{{/_}}
	</a>
	<a class="frame" href="member-area/members">
		{{#svg}}people{{/svg}}<br>
		{{#_}}title/Everyone{{/_}}
	</a>
	<a class="frame" href="member-area/practice">
		{{#svg}}score{{/svg}}<br>
		{{#_}}title/Practice{{/_}}
	</a>
	<br>
	<a class="frame" href="member-area/logout">
		{{#svg}}logout{{/svg}}<br>
		{{#_}}title/Logout{{/_}}
	</a>
</div>



{{/ content}}
{{/ layout }}
