{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}title/Members{{/_}}{{/ title }}

{{$ content}}



<h1>{{#_}}title/Members{{/_}}</h1>

<div class="center">
	{{#members.for_members}}
	<a href="{{url}}" class="frame {{role}}">
		<img src="t/350x100/{{image}}" alt="{{first}}">
		<span>{{first}}</span>
	</a>
	{{/members.for_members}}
</div>



{{/ content}}

{{/ layout }}
