{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}title/Members{{/_}}{{/ title }}

{{$ content}}



<div class="member-frames"><!--
{{#members.listing}}

	--><a class="frame has-details {{role}}" data-details="{{id}}">
		<img src="t/350x100/{{img}}" alt="{{first}}">
		<span>{{first}}</span>
	</a><div class="details" data-details="{{id}}">
		<article>
			<h1>{{first}}{{>close-link}}</h1>
			<div class="subtitle">{{role | ucfirst | _ }}</div>
			<p><img class="frame" src="t/350x250/{{img}}"></p>
			
			{{#md}}{{url}}{{/md}}
		</article>
	</div><!--

{{/members.listing}}
--></div>



{{/ content}}

{{/ layout }}
