<nav>
	<ul>
		<li><a href=".">{{#svg}}home{{/svg}}</a>
		<li><a href="music">{{#_}}Music{{/_}}</a>
		<li><a href="choir">{{#_}}Choir{{/_}}</a>
		<li><a href="members">{{#_}}Members{{/_}}</a>
		<li><a href="calendar">{{#_}}Calendar{{/_}}</a>
		<li><a href="contact">{{#_}}Contact{{/_}}</a>
	</ul>
</nav>
