{{% BLOCKS }}
{{< layout }}
{{$ TITLE }}{{#_}}Music{{/_}}{{/ TITLE }}
{{$ title }}{{#_}}title/Music{{/_}}{{>webshop-cart-button}}{{/ title }}
{{$ content}}


{{{md}}}


{{#music.listing}}

<hr>

<article class="album">
	<h2 class="title">
		<a href="music/{{url}}" title="{{#_}}More information…{{/_}}">
			<img class="frame" alt="{{#_}}Album cover{{/_}}" src="t/120x250/{{cover}}">
			{{album}}
			<span>{{year}}</span>
			<br>
		</a>
	</h2>

	{{>album-tracks}}

	<p class="right">
		{{>webshop-buttons}}
	</p>

</article>

{{/music.listing}}


{{>jplayer}}


{{/ content}}
{{/ layout }}
