{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}title/Music{{/_}}{{/ title }}
{{$ content}}



<h1>
	{{#_}}title/Music{{/_}}
	{{>webshop-cart-button}}
</h1>

{{{md}}}

{{#music.all}}

<hr>

<article class="album">
	<h2 class="title">
		<a href="{{url}}" title="{{#_}}More information…{{/_}}">
			<img class="frame" alt="{{#_}}Album cover{{/_}}" src="t/120x250/{{images.cover}}">
			{{title}}
			<span>{{year}}</span>
			<br>
		</a>
	</h2>

	<ol class="tracks">
		{{#tracks}}
		<li>
			<span class="time">{{time}}</span>
			<a class="title" href="{{url}}" type="{{mime}}">{{title}}</a>
		</li>
		{{/tracks}}
	</ol>

	<p class="right">
		{{>webshop-buttons}}
	</p>

</article>

{{/music.all}}

{{>jplayer}}



{{/ content}}
{{/ layout }}
