{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}Music{{/_}}{{/ title }}


{{$ content}}

{{{markdown}}}

<p><b>// TODO: Buy buttons</b>

{{#music.listing}}
<hr>
<article class="album">
	<h1><a href="{{url}}">{{album}}</a>
		<span>{{year}}</span>
	</h1>
	<ol class="tracks">
		{{#tracks}}
		<li><span>{{time}}</span> <a href="stream/{{url}}" type="{{mime}}">{{title}}</a>
		{{/tracks}}
	</ol>
	<p>
		<a href="{{url}}">
			<img alt="{{#_}}Album cover{{/_}}" src="t/250x250/{{cover}}">
		</a>
	</p>
</article>
{{/music.listing}}

<script>
$(function()
{
	$('h1 a', '.album')
		.on('click', function() { $(this).closest('.album').toggleClass('closed'); return false; })
		.closest('.album')
		.addClass('closed');
})

</script>


{{/ content}}


{{/ layout }}
