{{% BLOCKS }}
{{< layout }}
{{$ TITLE }}{{#_}}Thank you!{{/_}}{{/ TITLE }}
{{$ title }}{{#_}}Thank you!{{/_}}{{>webshop-cart-button}}{{/ title }}
{{$ content}}

{{#md}}return{{/md}}


<pre>{{data | debug}}</pre>


{{/ content}}
{{/ layout }}
