{{% BLOCKS }}
{{< layout }}
{{$ title }}{{title | _}}{{/ title }}

{{$ content}}

<h1>{{title | _}}</h1>

<div class="menu no-select">
	<a class="frame" href="tools/members/edit/me">
		{{#svg}}person{{/svg}}<br>
		{{#_}}title/Me{{/_}}
	</a>
	<a class="frame" href="tools/members">
		{{#svg}}people{{/svg}}<br>
		{{#_}}title/Everyone{{/_}}
	</a>
	<a class="frame" href="tools/practice">
		{{#svg}}score{{/svg}}<br>
		{{#_}}title/Practice{{/_}}
	</a>
	<br>
	<a class="frame" href="user/logout">
		{{#svg}}logout{{/svg}}<br>
		{{#_}}title/Logout{{/_}}
	</a>
</div>



{{/ content}}
{{/ layout }}
