{{% BLOCKS }}
{{< layout }}
{{$ TITLE }}{{#_}}Video{{/_}}{{/ TITLE }}
{{$ title }}{{#_}}Video{{/_}}<div class="right">{{>button-youtube}}</div>{{/ title }}
{{$ content}}


{{{markdown}}}

<p class="videowrapper">
	{{#embed}}https://www.youtube.com/watch?v=zw28hJ3X-KA{{/embed}}
</p>



{{/ content}}
{{/ layout }}
