{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}title/Video{{/_}}{{/ title }}
{{$ content}}

<div class="center">

	{{#videos.all}}
	<a class="frame" href="video/{{id}}" data-duration="{{duration | formatDuration}}">
		<img src="{{thumbnail.url}}" width="{{thumbnail.width}}" height="{{thumbnail.height}}">
		<span>{{title}}</span>
	</a>
	{{/videos.all}}

	<p>{{>button-youtube}}

</div>

{{/ content}}
{{/ layout }}
