{{#items}}
<a class="webshop button no-select" href="{{url}}" title="{{#_}}Add to cart{{/_}}: {{item_name}}">
	{{#svg}}{{type}}{{/svg}}
	<span class="text">
		{{#_}}Add to cart{{/_}}
		<br>
		{{amount}} {{currency_code}}
	</span>
</a>
{{/items}}
