#content
{
	padding: 2em @padding;
	max-width: @max-width;
	position: relative;

	h1:empty
	{
		display: none;
	}

	&>*:first-child
	{
		margin-top: 0;
	}
	
	&>*:last-child
	{
		margin-bottom: 0;
	}

	img
	{
		max-width: 100%;
		height: auto;
	}


	.videowrapper
	{
		position: relative;
		padding-bottom: 56.45%;
		height: 0;
		iframe
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.fb_iframe_widget
	{
		display: block !important;
	}
}

#gmap_canvas
{
	height: 200px;
	width: 100%;
	margin: 1em 0;
	border: 1px solid rgba(0,0,0,.25);
	img
	{
		.box-shadow(0, 0, 0, 0);
	}
}
