#content
{
	padding: 2em @large-padding 3em @large-padding;

	width: 100%;
	max-width: @max-width;
	box-sizing: border-box;

	// Headers
	h1,h2,h3,h4
	{
		span
		{
			white-space: nowrap;
			vertical-align: super;
			font-size: medium;
			color: black;
			&::before
			{
				content: ' ';
			}

		}
	}
	h1+h2,
	h2+h3,
	h3+h4
	{
		margin-top: -@trailing-margin;
	}

	// Images
	img
	{
		max-width: 100%;
		height: auto;
	}

	// Lists
	ul,ol,dl
	{
		line-height: 1.5em;
	}
	ul,ol,dd
	{
		margin-left: 0;
		padding-left: 0;
	}
	dd
	{
		margin-left: 1.25em;
	}
	li
	{
		margin-left: 2em;
	}
}


@media only screen and (max-width : 550px)
{
	#content
	{
		img.right
		{
			max-width: 40%;
		}
	}
}
