#footer
{
	clear: both;
	margin: 2em 0;
	padding: .5em @large-padding;

	border-top: 1px solid @shadow-color;
	
	font-size: small;

	span
	{
		white-space: nowrap;
	}


	/* TODO: "Watermark" with SDA logo in bottom right?
	background-image: url(icon/sda.svg?opacity=0.2);
	background-repeat: no-repeat;
	background-position: top -12.9em right -9.5em;
	background-size: 35em;
	*/
}

