#footer
{
	//text-align: center;
	font-size: small;
	nav
	{
		background: fadeout(@accent-color, 90%);
		border: 1px solid rgba(0,0,0,.1);
		border-left: none;

		padding: .5em .75em .5em @padding;
		margin: 3.5rem 0 1.5rem;
		display: inline-block;
	}
}
