#header
{
	position: relative;
	padding: 1rem @padding;
	line-height: 1rem;

	background: fadeout(@accent-color, 90%);
	border-bottom: 1px solid black;
	.box-shadow(0, 0, 15px, #000);

	h1
	{
		font: 700 5em/1em 'Tangerine', sans-serif;
		margin: 0 0 -.6rem -2rem;
		text-shadow: rgba(0,0,0, 50%) 0 0 6px;
		color: inherit;
		position: relative;
		z-index: 10;
	}
	
	ul
	{
		position: relative;
		z-index: 20;
		padding: 0;
		margin: 0;

		li
		{
			display: inline-block;
			margin-right: 2px;
			position: relative;
			a
			{
				display: inline-block;
				padding: 0.55em 0.95em;
				color: inherit;
				background: fadeout(@accent-color, 93%);
				text-shadow: rgba(0,0,0, 50%) 0 0 6px;

				border-bottom: 2px solid fadeout(@accent-color, 93%);

				&:hover,
				&:active
				{
					color: @text-color;
					background: fadeout(@accent-color, 88%);
				}
				&.current
				{
					color: @text-color;
					border-bottom: 2px solid @accent-color;
					text-shadow: rgba(0,0,0, 75%) 0 0 6px;
				}
			}
		}
	}

	#main-menu
	{
		span
		{
			display:none;
		}
	}

	img
	{
		vertical-align: baseline;
	}

	#language-menu
	{
		line-height: 11px;
		svg
		{
			width: 16px;
			height: 11px;
		}
		a.language:not(.current)
		{
			background: none;
		}
		a.language:not(.current):hover
		{
			background: fadeout(@accent-color, 93%);
		}
	}

	#menu-toggle
	{
		// Initially hide menu toggle
		position: absolute;
		right: 0;
		bottom: 0;
		outline: none;
		color: @accent-color;
		.drop-shadow(0, 0, 15px, white);
		svg
		{
			height: 0.6em;
			.transition(transform);
		}
	}
	&.menu-open #menu-toggle svg
	{
		.rotate(-270deg);
	}
}

@media only screen and (max-width : 550px)
{
	#header
	{
		font-size: small;
		h1
		{
			margin-left: -6px;
		}
	}
}

@media only screen and (min-width : 450px)
{
	#header
	{
		#main-menu,#language-menu
		{
			display: block !important;
		}
		#language-menu
		{
			position: absolute;
			top: 0;
			right: .2em;
			li
			{
				margin-top: 0;
			}
			a
			{
				padding: .4em .6em;
			}
		}
		#menu-toggle
		{
			display: none;
		}
	}
}

@media only screen and (max-width : 449px)
{
	#header
	{
		h1
		{
			margin-bottom: -0.05em;
		}
		#main-menu
		{
			font-size: large;
			margin-top: -0.65em;
			li,a
			{
				display: block;
			}
			span
			{
				display:inline;
			}
		}
		#main-menu,
		#language-menu
		{
			margin-left: -1rem;
			margin-right: -1rem;
			li
			{
				margin: 0;
				a
				{
					padding: .9em 1.25em;
				}
			}
			a.current
			{
				border-bottom: 2px solid fadeout(@accent-color, 93%);
				background: fadeout(@accent-color, 73%);
			}
		}
		#menu-toggle
		{
			// Show menu toggle
			display: block;
		}
		ul,
		#fancy
		{
			// Initially hides the menu
			display: none;
		}
	}
}



#bg-1
{
	position: absolute;
	z-index: 1;
	left: 0; right: 0; top: 0; bottom: 0;

	background: url(../t/960x960/piano.jpg) no-repeat;
	background-position: center 35%;
	background-size: cover;
	opacity: .06;
	-webkit-filter: blur(3px) grayscale(75%) hue-rotate(210deg);
	-moz-filter: blur(3px) grayscale(75%) hue-rotate(210deg);
	-o-filter: blur(3px) grayscale(75%) hue-rotate(210deg);
	-ms-filter: blur(3px) grayscale(75%) hue-rotate(210deg);
	filter: blur(3px) grayscale(75%) hue-rotate(210deg);
}

