html.touchevents #jp_container
{
	font-size: xx-large;
}


#jp_container
{
	display: none;

	.jp-controls
	{
		overflow: hidden;
		font-size: .8em;
		text-align: right;
		a
		{
			padding: .1em .5em;
			color: inherit;
			display: inline-block;
			outline: none;
		}
	}

	&.jp-state-playing .jp-controls a
	{
		color: @accent3-color;
	}

	.jp-progress,
	.jp-seek-bar,
	.jp-play-bar
	{
		height: .75em;
	}
	.jp-progress,
	.jp-seek-bar
	{
		background: rgba(0,0,0,.1)
	}
	.jp-play-bar
	{
		background: #000;
	}

}
