body.calendar #content
{
	max-width: none;
}
body.calendar #content .calendar
{
	margin-bottom: 3em;
	font-size: small;
	table-layout: fixed;
	empty-cells: show;

	thead
	{
		font-size: large;

		tr+tr th
		{
			font-weight: normal;
			font-size: small;
		}
	}
	td
	{
		padding: 0;
		position: relative;
		height: 5rem;

		&:not([data-day])
		{
			background: none;
		}

		&[data-day]:before
		{
			content: attr(data-day) ".";
			display: block;
			font-size: large;
			padding: .05em .3em;
		}
		&:not(:empty)
		{
		}

		.tentative
		{
			opacity: .5;
		}

		.event
		{
			padding: .05em .3em;
			background: fade(@accent3-color, 40%);
			margin: .5em 0;

			&:first-child { margin-top: 0}
			&:last-child { margin-bottom: 0}

			.summary
			{
				overflow: hidden;
				text-overflow: ellipsis;
			}

			time
			{
				font-weight: bold;
			}
			address
			{
				display: none;
			}
		}
	}

	tr.current
	{
		td.current
		{
			.box-shadow(0, 0, 20px, rgba(0,0,0,.75));
			outline: 3px solid black;
		}
	}


}

@media only screen and (max-width : 650px)
{
	body.calendar #content .calendar
	{
		&,thead,tbody,tr,th,td
		{
			display: block;
			position: relative;
			//overflow: hidden;
		}
		colgroup,thead tr+tr,td:empty
		{
			display: none;
		}


		td
		{
			background: fade(@accent-color, 5%);
			height: auto;
			min-height: 5rem;

			.event,.event:first-of-type
			{
				border: none;
			}
		}
		td:before
		{
			text-align: left;
		}
		td:after
		{
			content: attr(data-name);
			font-size: small;
			position: absolute;
			top: .05em;
			right: .3em;
		}
	}
}
