
@import "jplayer";


body.music #content
{
	a.button
	{
		text-align: center;
		white-space: nowrap;
		padding: .5em .75em;

		.text
		{
			display: inline-block;
			vertical-align: top;
			text-align: left;
			font-size: small;
			&:first-line
			{
				font-size: medium;
			}
		}
	}

	a.button.webshop svg
	{
		width: 3em;
		height: 3em;
	}

	.album
	{
		.title
		{
			margin-bottom: 0;
			a
			{
				display: block;
			}
			img
			{
				float: left;
				width: 7rem;
				display: inline-block;
				border: none;
				margin-right: 1rem;
			}
		}
	}

	article.album .tracks
	{
		margin-left: 7.5rem;
	}

	.tracks
	{
		margin-top: 0;

		li+li
		{
			border-top: 1px dotted darken(@background-color, 25%);
		}
		li
		{
			.time
			{
				padding: .2em .5rem;
				float: right;
			}
			.title
			{
				color: inherit;
				display: block;
				padding: .2em .5rem;
			}
			a:hover,
			a:active
			{
				background: darken(@background-color, 3%);
			}

			&.playing a::before
			{
				content: url(icon/pause.svg);
				display: inline-block;
				height: .8em;
				width: .8em;
				margin-right: .6em;
			}
			.description
			{
				font-size: small;
				color: fadeout(@text-color, 40%);
				padding: .2em .5rem;
				p:first-child,
				p:last-child
				{
					margin: 0;
				}
			}
		}
	}
}


body.album #content
{
	.covers
	{
		img
		{
			width: 49%;
			vertical-align: top;
		}
		img:last-child
		{
			float: right;
		}
	}
}


@media only screen and (max-width : 450px)
{
	body.music #content
	{
		.album .title img
		{
			float: right;
			height: 1.3em;
			width: auto;
			margin-right: 0;
			.box-shadow(0,0,8px, @shadow-color);
		}
		.tracks
		{
			margin-left: 0;
		}
	}
	body.album #content .covers
	{
		text-align: center;
		img
		{
			width: 100%;
			float: none !important;
		}
	}
}
