
body.members #content
{
	max-width: none;
	ul
	{
		padding: 0;
	}
	.frame
	{
		display: inline-block;
		text-align: center;
		vertical-align: top;
		margin: 0 .75em .75em 0;
		padding: .75em;
		img
		{
			.box-shadow(0,0,0,0);
		}

		.details
		{
			text-align: left;
			img
			{
				float: right;
				margin: 0 0 2em 2em;
				max-width: 50%;
			}
		}
	}
}

@media only screen and (max-width : 350px)
{
	body.members #content .frame,
	body.members #content .frame
	{
		margin-right: 0;
		
		&, .details img
		{
			display: block;	
		}
		.details img
		{
			float: none;
			margin:1em 0;
		}
	}
}