body.calendar #content
{
	max-width: none;
}
body.calendar #content .calendar
{

	margin-bottom: 3em;
	font-size: small;
	table-layout: fixed;
	empty-cells: show;


	thead
	{
		margin: 0;
		font-size: large;

		tr+tr th
		{
			font-weight: normal;
			font-size: small;
		}
	}
	td
	{
		padding: 0;	
		position: relative;
	}

	td[data-day='']
	{
		background: none;
	}
	td:before
	{
		content: attr(data-day);
		display: block;
		text-align: right;
		margin: .3em .5em;
		color: #fff;
		font-size: large;
		font-weight: bold;
		font-style: italic;
		text-shadow: #000 0 0 3px;
	}

	tr.current
	{
		background: fade(@accent2-color, 45%);
		td.current
		{
			background: fade(@accent2-color, 75%);
			.box-shadow(0, 0, 15px, rgba(0,0,0,.75));
		}
	}


}

@media only screen and (max-width : 650px)
{
	body.calendar #content .calendar
	{
		&,thead,tbody,tr,th,td
		{
			display: block;
			position: relative;
			//overflow: hidden;
		}
		colgroup, thead tr+tr {display: none;}

		td:not(.events)
		{
			display: none;
		}

		td
		{
			background: fade(@accent-color, 5%);
		}
		td:before
		{
			text-align: left;
		}
		td:after
		{
			content: attr(data-name);
			font-size: small;
			margin: 1px 0 0 3px;
			color: #fff;
			font-style: italic;
			position: absolute;
			top:.3em;
			right: .5em;
			font-weight: bold;
			text-shadow: #000 0 0 3px;
		}
	}
}


/*
.cal td:nth-child(2):before
{
	content: attr(data-week);
	font-size: small;
	margin: 1px 0 0 3px;
	position: absolute;
	color: #222222;
}

.cal-event
{
	padding: .3em .5em;
	line-height: 1.2em;
}
.cal-event time
{
	color: #000;
}
.cal-event a:link,
.cal-event a:visited
{
	color: #fff;
}
.cal-today .cal-event,
.cal-today .cal-event a:link,
.cal-today .cal-event a:visited
{
	color: #000;
	font-weight: bold;
}


.cal-private
{
	background: rgba(255,255,255,.2);
}
.cal-public
{
	background: rgba(255,127,0,.2);
}

.cal-tentative
{
	opacity: .4;
}
.cal-tentative a:link,
.cal-tentative a:visited
{
}
.cal-cancelled
{
	opacity: .2;
}
.cal-cancelled time
{
	color: #700;
}
*/
