
body.members #content
{
	max-width: none;
	ul
	{
		padding: 0;
	}
	.frame
	{
		display: inline-block;
		text-align: center;
		vertical-align: top;
		margin: 0 .75em .75em 0;
		padding: .75em;
		img
		{
			.box-shadow(0,0,0,0);
		}
	}

}
