body.index #content
{
	&>h1 {display: none}
	&>h1+* { margin-top: 0;}
	h2 {font-size: xx-large;}

	.events
	{
		.summary { font-weight: bold }
		time, address
		{
			display: block;
			font-size: .8em;
		}
	}

	.albums
	{
		p a {color: inherit}
		a {display:inline-block}
		img {margin-right: .5em}
		.text
		{
			display: inline-block;
			vertical-align: top;
			white-space: nowrap;
			&:first-line
			{
				font-weight: bold;
			}
		}
	}
}
