// http://mattkersley.com/responsive/

@media only screen and (max-width : 480px)
{
	body,
	input,
	textarea,
	select
	{
		font-size: 100%;
	}
	#header,
	#message,
	#content,
	#footer
	{
		padding-left: @small-padding !important;
		padding-right: @small-padding !important;
	}
}
