@media only screen and (min-width : 500px)
{
	#header
	{
		#language-selector
		{	
			position: absolute;
			top: 0;
			right: @padding;
			li
			{
				margin: 0 0 .2em .2em;
			}
			a
			{
				padding: 0 10px 6px 10px;
			}
		}
	}
}

@media only screen and (max-width : 650px)
{
	body,
	input,
	textarea,
	select
	{
		font-size: 100%;	
	}
	.responsive
	{
		display: block !important;
		margin-right: 0 !important;
	}
	input[type=text],
	input[type=email],
	input[type=url],
	input[type=password],
	input[type=number],
	input[type=tel],
	input[type=date],
	input[type=time],
	input[type=search],
	select,
	textarea
	{
		width: 100%;
	}
	#header
	{
		font-size: small;
	}
}

@media only screen and (max-width : 499px)
{
	#header
	{
		#main-menu
		{
			&,li,a
			{
				display: block !important;
			}
			li
			{
				margin: 0;
			}
		}

		&:not(.open)
		{
			h1
			{
				margin-bottom: -0.05em;
			}
			nav
			{
				display: none !important;
			}
		}

		&.open
		{
			#menu-toggle svg
			{
				.rotate(-180deg);
			}
		}

		#menu-toggle
		{
			svg
			{
				.transition(transform, 350ms);
			}
			display: block;
		}
	}
}
