
@media only screen and (min-width : 550px)
{
	#header
	{
		#language-selector
		{	
			position: absolute;
			top: 0;
			right: @padding;
			li
			{
				margin: 0 0 .2em .2em;
			}
			a
			{
				padding: 0 10px 6px 10px;
			}
		}
	}
}

@media only screen and (max-width : 550px)
{
	body,
	input,
	textarea,
	select
	{
		font-size: 100%;	
	}
	#header
	{
		font-size: small;
	}
}