
@import "mixins";

@padding: 8%;
@max-width: 700px;
@link-color: #58129F;
@background-color: #eee;
@text-color: #111;

body,
input,
textarea,
select
{
	font: 400 120%/1.5 'Open Sans', sans-serif;
}


html,
body
{
	margin: 0;
	padding: 0;
	color: @text-color;
	background: @background-color;
}

body
{
	cursor: default;
	overflow-y: scroll;
}

#header
{
	position: relative;
	padding: 10px @padding;
	line-height: 1em;

	background: fadeout(@link-color, 90%);
	border-bottom: 1px solid rgba(0,0,0,.75);
	.drop-shadow(0, 0, 15px, #000);
	.transition(font-size, 300ms);

	h1
	{
		font: 700 5em 'Tangerine', sans-serif;
		margin: 0 @padding -.2em -3px;
		text-shadow: rgba(0,0,0, 50%) 0 0 6px;
		color: inherit;
	}
	ul
	{
		display: inline-block;
		padding: 0;
		margin: 0;
		li
		{
			display: inline-block;
			margin: .2em .25em .2em 0;
		}
	}
	nav
	{
		a
		{
			display: inline-block;
			padding: 0.55em 0.75em;
			color: lighten(@text-color, 20%);
			background: fadeout(@link-color, 93%);
			text-shadow: rgba(0,0,0, 50%) 0 0 6px;

			&:hover,
			&:active
			{
				color: @text-color;
				background: fadeout(@link-color, 88%);
			}
			&.current
			{
				color: @text-color;
				text-shadow: rgba(0,0,0, 75%) 0 0 6px;
			}
		}
	}

	#language-selector
	{
		display: block;
		li
		{
			&:first-child
			{
				margin-left: 0;
			}
		}

		a
		{
			&.language:not(.current)
			{
				background: none;
			}
			&.language:not(.current):hover
			{
				background: fadeout(@link-color, 93%);
			}
		}
	}

	/*&:before
	{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';
		background: url("header.svg") no-repeat scroll center top / auto 75%;
		filter: blur(2px) opacity(30%);
		transform: perspective( 400px ) rotateY( -30deg );
	}*/
}

#content
{
	padding: 2em @padding;
	max-width: @max-width;

	&>*:first-child
	{
		margin-top: 0;
	}
	
	&>*:last-child
	{
		margin-bottom: 0;
	}
}

#footer
{
	background: fadeout(@link-color, 90%);
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);

	padding: .5em @padding;
	margin-bottom: .5em;

	font-size: small;

	nav
	{
		.transition(opacity, 500ms);
		opacity: .5;
		&:hover
		{
			opacity: 1;
		}
	}
}


h1,h2,h3,h4
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	color: @link-color;
	text-shadow: rgba(0,0,0,.5) 0 0 5px;

	a,
	a:hover,
	a:active
	{
		color: inherit;
	}
}
h1+h2,
h2+h3,
h3+h4
{
	margin-top: -.75em;
}

b,
strong
{
	font-weight: 600;
}

a
{
	text-decoration: none;

	color: @link-color;

	&:hover,
	&:active
	{
		color: lighten(@link-color, 20%);
		outline-color: lighten(@link-color, 20%);
	}
}

section
{
	display: inline-block;
	vertical-align: top;
	margin-right: 2rem;
}
section:last-of-type
{
	margin-right: 0;
}

span
{
	white-space: nowrap;
}
p.right
{
	text-align: right;
}
svg
{
	vertical-align: baseline;
	height: .8em;
	width: auto;
	rect,path
	{
		fill: currentColor;	
	}
}
svg.flag
{
	height: 11px;
}

img
{
	max-width: 100%;
	vertical-align: middle;
}

ul li
{
	list-style: square;
}

hr
{
	margin: 2rem 0;
	height: 1px;
	border: 0;
	font-size: 0;
	color: darken(@background-color, 20%);
	background: darken(@background-color, 20%);
	.drop-shadow(0, 0, 6px, rgba(0,0,0,.35));
}

address
{
	font-style: normal;
}

label[for]
{
	cursor: pointer;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=number],
input[type=tel],
input[type=date],
input[type=time],
input[type=search],
select,
textarea
{
	font-size: .9em;
	padding: .5em;
	border: 1px solid rgba(0,0,0,.25);
	width: 300px;
	.box-sizing();
}
input[type=checkbox]
{
	margin-right: .5em;
}
textarea
{
	resize: vertical;
	min-height: 200px;
}
button
{
	padding: .25em 1em;
	font-size: .9em;
	background: fade(@link-color, 10%);
	border: 1px solid rgba(0,0,0,.25);
}
button:hover
{
	background: fade(@link-color, 20%);
}

#gmap_canvas
{
	height: 200px;
	width: 100%;
	border: 1px solid rgba(0,0,0,.25);
}

body.members #content
{
	max-width: none;
}
.member-frames
{
	padding: 0;
	
	li
	{
		display: inline-block;
		text-align: center;
		vertical-align: top;
		margin: 0 .75em .75em 0;
		padding: .5em;
		border: 1px solid rgba(0,0,0,.5);
		border-radius: 5px;
		.drop-shadow(0, 0, 6px, rgba(0,0,0,.35));
		background: #fff;
		img, span
		{
			margin: auto;
			display: block;
		}
		img
		{
			border: 1px solid rgba(0,0,0,.5);
			border-radius: 5px;
			margin-bottom: .25em;
			filter: sepia(60%);
		}
	}
}

ul:empty
{
	display:none;
}
.info
{
	padding: .5em;
	border: 1px solid fade(#090, 40%);
	border-radius: 5px;
	.drop-shadow(0, 0, 6px, rgba(0,0,0,.35));
	background: fade(#090, 15%);
}


.errors
{
	margin-top: -1rem;
	font-size: x-small;
	color: #9E1B1B;
}
input.error,
textarea.error
{
	border-color: #9E1B1B !important;
}


@import "responsive";
