
@import "mixins";


@padding: 8%;
@max-width: 675px;
@link-color: #58129F;
@background-color: #eee;
@text-color: #111;

body,
input,
textarea,
select
{
	font: 400 120%/1.5 'Open Sans', sans-serif;
}


html,
body
{
	margin: 0;
	padding: 0;
	color: @text-color;
	background: @background-color;
}

body
{
	cursor: default;
	overflow-y: scroll;
}

#header
{
	position: relative;
	padding: 10px @padding;
	line-height: 1em;

	background: fadeout(@link-color, 90%);
	border-bottom: 1px solid rgba(0,0,0,.75);
	.drop-shadow(0, 0, 15px, #000);

	h1
	{
		font: 700 90px 'Tangerine', sans-serif;
		margin: 0 @padding -.2em -3px;
		text-shadow: rgba(0,0,0, 50%) 0 0 6px;
		color: inherit;
	}
	ul
	{
		display: inline-block;
		padding: 0;
		margin: 0;
		li
		{
			display: inline-block;
			margin: .2em .25em .2em 0;
		}
	}
	nav
	{

		a
		{
			display: inline-block;
			padding: 0.55em 0.75em;
			color: lighten(@text-color, 20%);
			background: fadeout(@link-color, 93%);
			text-shadow: rgba(0,0,0, 50%) 0 0 5px;

			&:hover,
			&:active
			{
				background: fadeout(@link-color, 88%);
				color: @text-color;
			}
			&.current
			{
				color: @text-color;
			}
		}
	}

	#language-selector
	{
		position: absolute;
		top: 0;
		right: @padding;

		li
		{
			margin: 0 0 .2em .2em;
		}

		a
		{
			display: inline-block;
			padding: 0 10px 6px 10px;
		}
	}

	/*&:before
	{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';
		background: url("header.svg") no-repeat scroll center top / auto 75%;
		filter: blur(2px) opacity(30%);
		transform: perspective( 400px ) rotateY( -30deg );
	}*/
}

#content
{
	padding: 2em @padding;
	max-width: @max-width;

	&>*:first-child
	{
		margin-top: 0;
	}
	
	&>*:last-child
	{
		margin-bottom: 0;
	}
}

#footer
{
	background: fadeout(@link-color, 90%);
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);

	padding: .5em @padding;
	margin-bottom: .5em;

	font-size: small;
	nav
	{
		opacity: .5;
	}
}


h1,h2,h3,h4
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: .5em;
	line-height: 1em;
	color: @link-color;
	text-shadow: rgba(0,0,0,.5) 0 0 5px;

	a,
	a:hover,
	a:active
	{
		color: inherit;
	}
}
h1+h2,
h2+h3,
h3+h4
{
	padding-top: 0;
}

b,
strong
{
	font-weight: 600;
}

a
{
	text-decoration: none;

	color: @link-color;

	&:hover,
	&:active
	{
		color: lighten(@link-color, 20%);
		outline-color: lighten(@link-color, 20%);
	}
}

span
{
	white-space: nowrap;
}

svg
{
	vertical-align: baseline;
	height: .8em;
	width: .8em;
	path
	{
		fill: currentColor;	
	}
}

img
{
	max-width: 100%;
	vertical-align: middle;
}

li
{
	list-style: square;
}


label[for]
{
	cursor: pointer;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=number],
input[type=tel],
input[type=date],
input[type=time],
input[type=search],
select,
textarea
{
	font-size: .9em;
	padding: .5em;
	border-width: 1px;
	border-style: solid;
	.box-sizing();
}
input[type=checkbox]
{
	margin-right: .5em;
}
button
{
	padding: .5em 1.5em;
	font-size: .9em;
	border-radius: 5px;
}
