body.index #content
{
	h2 {font-size: xx-large;}

	.block
	{
		display: block;
		overflow: hidden;
		padding: .4em .8em;

		background: fade(@accent-color, 5%);
		border: 1px solid fade(@accent-color, 40%);
		color: inherit;

		font-size: .9rem;
		&::first-line
		{
			font-weight: bold;
			font-size: 1.1rem;
		}

		&:hover,
		&:active
		{
			background: fade(@accent-color, 10%);
			border: 1px solid fade(@accent-color, 75%);
		}

		img
		{
			margin-right: .8em;
			float: left;
		}
		time, address
		{
			margin: 0;
		}
	}


	.block+.block
	{
		margin-top: 1.5em;
	}
}
