// music
body.music #content
{
	// In album listing
	.album 
	{
		.title
		{
			a
			{
				display: block;
			}
		}
		.tracks
		{
			margin-left: 7.5rem;
		}

		h2.title
		{
			margin-bottom: .5em;
		}
	}

	// Track listing
	.tracks
	{
		margin-top: 0;

		li+li
		{
			border-top: 1px dotted darken(@background-color, 25%);
		}
		li:only-child
		{

			border-top: 1px dotted darken(@background-color, 25%);
			border-bottom: 1px dotted darken(@background-color, 25%);
		}
		li
		{
			.title
			{
				display: block;
				padding: .2em .5rem;
			}
			.length
			{
				float: right;
				padding: .2em .5rem;
			}
			a:hover,
			a:active
			{
				background: darken(@background-color, 3%);
			}

			&.playing a::before
			{
				content: url(icon/pause.svg);
				display: inline-block;
				height: .8em;
				width: .8em;
				margin-right: .6em;
			}
			.description
			{
				font-size: small;
				color: lighten(@text-color, 5%);
				padding: .2em .5rem;
				p:first-child,
				p:last-child
				{
					margin: 0;
				}
			}
		}
	}

}

// music/album
body.music.album #content
{

	// Cover photos
	.covers
	{
		img
		{
			width: 49%;
			vertical-align: top;
		}
		img:last-child
		{
			float: right;
		}
	}

	// Lyrics
	.lyrics
	{
		font-size: .9em;
	}

	// Parts
	.parts dl
	{
		font-size: .8em;
	}


	// Meta "bar"
	.meta
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		font-size: .85em;
		margin-bottom: -3.5rem;
		&>*
		{
			margin: 0 1em .5em 0;
			line-height: @line-height;
		}

		a
		{
			color: inherit;
		}

		img,
		svg
		{
			height: 3em;
			width: auto;
		}
	}
}



// Album titles
body.music #content .album,
body.music.album #content
{
	// Cover thumbnail
	.title img,
	{
		display: inline-block;
	}

	// In music listing
	h2.title img
	{
		float: left;
		width: 7rem;
		margin-right: .5em;
	}

	// On album page
	h1.title img
	{
		width: auto;
		height: 1em;
		vertical-align: top;
	}
}


// Responsiveness
@media only screen and (max-width : 450px)
{
	body.music #content
	{
		.album .title img
		{
			float: right;
			height: 1.3em;
			width: auto;
			margin-right: 0;
			.box-shadow(0,0,8px, @shadow-color);
		}
		.album .tracks
		{
			margin-left: 0;
		}
	}
	body.album #content .covers
	{
		text-align: center;
		img
		{
			width: 100%;
			float: none !important;
		}
	}
}
