// music
body.music #content
{
	// In album listing
	.album 
	{
		.title
		{
			a
			{
				display: block;
			}
		}
		.tracks
		{
			margin-left: 7.5rem;
		}

		h2.title
		{
			margin-bottom: .5em;
		}
	}

	// Track listing
	.tracks
	{
		margin-top: 0;

		li+li
		{
			border-top: 1px dotted darken(@background-color, 25%);
		}
		li:only-child
		{

			border-top: 1px dotted darken(@background-color, 25%);
			border-bottom: 1px dotted darken(@background-color, 25%);
		}
		li
		{
			.title
			{
				display: block;
				padding: .2em .5rem;
			}
			.length
			{
				float: right;
				padding: .2em .5rem;
			}
			a:hover,
			a:active
			{
				background: darken(@background-color, 3%);
			}

			&.playing a::before
			{
				content: url(icon/pause.svg);
				display: inline-block;
				height: .8em;
				width: .8em;
				margin-right: .6em;
			}
			.description
			{
				font-size: small;
				color: lighten(@text-color, 5%);
				padding: .2em .5rem;
				p:first-child,
				p:last-child
				{
					margin: 0;
				}
			}
		}
	}

}

// music/album
body.music.album #content
{
	// Cover photos
	.covers
	{
		align-items: stretch;
		align-content: stretch;
		justify-content: center;
		&>*
		{
			flex: 1 1 auto;
			//max-width: calc(45% - 1.5rem * 2);
			margin-right: 0;
		}
	}

	// Lyrics
	.lyrics
	{
		font-size: .9em;
	}

	// Parts
	.parts dl
	{
		font-size: .8em;
	}


	// Meta "bar"
	.meta
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		font-size: .85em;

		&>*
		{
			margin: 0 1em .5em 0;
			line-height: @line-height;
			&:first-line
			{
				font-weight: bold;
			}
		}

		a
		{
			color: inherit;
		}

		img,
		svg
		{
			height: 3em;
			width: auto;
		}
	}
}



// Album titles
body.music #content .album,
body.music.album #content
{
	// Cover thumbnail
	.title img,
	{
		display: inline-block;
	}

	// In music listing
	h2.title img
	{
		float: left;
		width: 7rem;
		margin-right: .5em;
	}

	// On album page
	h1.title img
	{
		width: auto;
		height: 1em;
		vertical-align: top;
	}
}


// Responsiveness
@media only screen and (max-width : 480px)
{
	body.music #content
	{
		.album h2.title img
		{
			float: right;
			height: 1.3em;
			width: auto;
			margin-right: 0;
		}
		.album .tracks
		{
			margin-left: 0;
		}
	}
}

@media only screen and (min-width : 481px)
{
	body.music.album #content
	{
		// Cover photos
		.covers
		{
			align-items: stretch;
			align-content: stretch;
			justify-content: center;
			&>*
			{
				max-width: calc(50% - 1.5rem);
			}
		}
	}
}
