{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}title/Me{{/_}}{{/ title }}

{{$ content}}



<p>// TODO: Editor for member details, profile and image

<p>// Me = id/name in controller/title



{{/ content}}
{{/ layout }}
