{{% BLOCKS }}
{{< layout }}
{{$ TITLE }}{{#_}}Me{{/_}} | {{title | _}}{{/ TITLE }}
{{$ title }}{{#_}}Me{{/_}} <span>{{title | _}}</span>{{/ title }}

{{$ content}}


// TODO: Editor for member details, profile and image



{{/ content}}
{{/ layout }}
