{{% BLOCKS }}
{{< layout }}
{{$ TITLE }}{{#_}}Me{{/_}} | {{#_}}title/{{title}}{{/_}}{{/ TITLE }}
{{$ title }}{{#_}}title/Me{{/_}} <span>{{#_}}title/{{title}}{{/_}}</span>{{/ title }}

{{$ content}}



<p>// TODO: Editor for member details, profile and image



{{/ content}}
{{/ layout }}
