{{% BLOCKS }}
{{< layout }}
{{$ TITLE }}{{#_}}Practice{{/_}} | {{title | _}}{{/ TITLE }}
{{$ title }}{{#_}}Practice{{/_}} <span>{{title | _}}</span>{{/ title }}

{{$ content}}



<ul>
	<li><a href="https://musescore.org">Musescore</a>
		<ul>
			<li><a href="https://musescore.com/android">Musescore for Android</a>
			<li><a href="https://musescore.com/ios">Musescore for iOS</a>
		</ul>
	<li><a href="http://1drv.ms/1U6Ov8m">Files @ OneDrive</a>
</ul>



{{/ content}}
{{/ layout }}
