Hello **{{member.first}}**, click [this link]({{#url}}/member-area/reset?id={{member.id}}&token={{member.token}}{{/url}}) to login and change your password :)

Alternatively, copy the link below and paste it into your browser:

- {{#url}}/member-area/reset?id={{member.id}}&token={{member.token}}{{/url}}
