{{% BLOCKS }}
{{< layout }}
{{$ title }}{{video.title}} - {{#_}}title/Video{{/_}}{{/ title }}
{{$ content}}


<h1>{{video.title}}</h1>

{{#video}}
	<div class="videowrapper">
		{{{player}}}
	</div>
{{/video}}

<p>{{>button-youtube}}</p>


{{/ content}}
{{/ layout }}
