{{% BLOCKS }}
{{< layout }}
{{$ title }}{{#_}}Login{{/_}}{{/ title }}

{{$ content}}



<form action="{{this}}" method="post">

	<input type="hidden" name="url" value="{{_get.url}}{{_post.url}}">
	
	<p><input type="email" name="email" placeholder="{{#_}}Your email{{/_}}" value="{{_post.email}}">
	
	<p><input type="password" name="password" placeholder="{{#_}}Your password{{/_}}">
	
	<p>
		<button class="icon" type="submit">{{#svg}}login{{/svg}}</button>
		&nbsp;
		<a class="small" href="user/reset">{{#_}}link/need_password{{/_}}</a>
	</p>
</form>



{{/ content}}
{{/ layout }}
