Hello **{{member.first}}**, click [this link]({{#url}}/user/reset?id={{member.id}}&token={{member.token}}{{/url}}) to login and change your password :)

Alternatively, copy the link below and paste it into your browser:

- {{#url}}/user/reset?id={{member.id}}&token={{member.token}}{{/url}}
